# =========================
# MONGODB
# =========================

MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=datos2


# =========================
# CASSANDRA
# =========================

CASSANDRA_HOST=localhost
CASSANDRA_PORT=9042
CASSANDRA_DATACENTER=datacenter1
CASSANDRA_KEYSPACE=datos2


# =========================
# NEO4J
# =========================

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=your_password


# =========================
# REDIS
# =========================

REDIS_HOST=192.168.237.130
REDIS_PORT=6379
REDIS_PASSWORD=your_password